body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
nav{
    color: white;
    text-align: left;
    font-size: 10;
}

div{
    padding: 1em;
}
section {
    background-color: white;
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button{
    padding: 0.5em 1em;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #555;
}
.ilumimar{
    color: rgb(23, 215, 36);
    font-weight: bolder;
}
#inicio{
    height: 100vh;
    background-color: #f6f6f6;
    }
#acercade{
    height: 100vh;
    background-color: #f6f6f6;
    }
#contacto{
    height: 100vh;
    background-color: #f6f6f6;
   }
#articulo{
    height: 100vh;
    background-color: #f6f6f6;
   }